
<%include ./partials/messages%>

<div id="page">
	<nav class="colorlib-nav" role="navigation">
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-sm-7 col-md-9">
						<div id="colorlib-logo"><a href="/"><img src="images/logo.png"  alt="citymart"></a></div>
					</div>
					<div class="col-sm-5 col-md-3">
					<form action="#" class="search-wrap">
					   <div class="form-group">
						  <input type="search" class="form-control search" placeholder="Search">
						  <button class="btn btn-primary submit-search text-center" type="submit"><i class="icon-search"></i></button>
					   </div>
					</form>
				 </div>
			 </div>
             <div class="row">
                <div class="col-sm-12 text-left menu-1">
                    <ul>
                        <li class="active"><a href="/">Home</a></li>
                        <li class="has-dropdown">
                            <a href="#">Products</a>
                            <ul class="dropdown">
                                <li><a href="/products">Product Detail</a></li>
                                <li><a href="/products">Chandaria Lights </a></li>
                                <li><a href="/products">Piping Materials</a></li>
                                <li><a href="/products">Wiring Cables</a></li>
                                <li><a href="/products">Switches & Security Fittings</a></li>
                                <li><a href="/products">All Electrical Appliances</a></li>
                            </ul>
                        </li>
                        <li><a href="/products">Electronics</a></li>
                        <li><a href="/products">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li class="cart"><a href="/products"><i class="icon-shopping-cart"></i> Cart [0]</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
        <div class="sale">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 offset-sm-2 text-center">
                        <div class="row">
                            <div class="owl-carousel2">
                                <div class="item">
                                    <div class="col">
                                        <h3><a href="#">25% off (Almost) Everything! Use Code: Summer Sale</a></h3>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col">
                                        <h3><a href="#">Our biggest sale yet 50% off all summer shoes</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="bread"><span><a href="/">Home</a></span> / <span>Contact</span></p>
                </div>
            </div>
        </div>
    </div>


    <div id="colorlib-contact">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Contact Information</h3>
                    <div class="row contact-info-wrap">
                        <div class="col-md-3">
                            <p><span><i class="icon-location"></i></span> Kondele Street,  <br> Along Kakamega Road, Kisumu</p>
                        </div>
                        <div class="col-md-3">
                            <p><span><i class="icon-phone3"></i></span> <a href="tel://1234567920">+ 254 706 619 991</a></p>
                        </div>
                        <div class="col-md-3">
                            <p><span><i class="icon-phone3"></i></span> <a href="tel://1234567920">+ 254 712 679 002</a></p>
                        </div>
                        <div class="col-md-3">
                            <p><span><i class="icon-paperplane"></i></span> <a href="mailto:info@yoursite.com">citymartelectricals@gmail.com</a></p>
                        </div>
                        <div class="col-md-3">
                            <p><span><i class="icon-globe"></i></span> <a href="#">citymart.co.ke</a></p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="contact-wrap">
                        <h3>Send Us A Quote</h3>
                        <form action="/contact" method="POST"  class="contact-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="fname">Full Name</label>
                                        <input type="text" name="fname" id="fname" class="form-control" placeholder="Your firstname">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="phone">Last Name</label>
                                        <input type="text" name="lname" id="lname" class="form-control" placeholder="Your lastname">
                                    </div>
                                </div>
                                <div class="w-100"></div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="text" name="email" id="email" class="form-control" placeholder="Your email address">
                                    </div>
                                </div>
                                <div class="w-100"></div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="subject">Phone Number</label>
                                        <input type="text" name="phone" id="phone" class="form-control" placeholder="Your phone number">
                                    </div>
                                </div>
                                <div class="w-100"></div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="message">Quote/Message</label>
                                        <textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="I need..."></textarea>
                                    </div>
                                </div>
                                <div class="w-100"></div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="submit" value="Send Message" class="btn btn-primary">
                                    </div>
                                </div>
                            </div>
                        </form>		
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="map" class="colorlib-map"></div>		
                </div>
            </div>
        </div>
    </div>

</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
</div>

<footer id="colorlib-footer" role="contentinfo">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col footer-col colorlib-widget">
                <h4 style="color:#28a745;">About Citymart</h4>
                <p>The best electrical shop in Kisumu. Suppling the best Quality electical products to the client County </p>
                <p>
                    <ul class="colorlib-social-icons">
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                    </ul>
                </p>
            </div>
            <div class="col footer-col colorlib-widget">
                <h4 style="color:#28a745;">Customer Care</h4>
                <p>
                    <ul class="colorlib-footer-links">
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Gift Voucher</a></li>
                        <li><a href="#">Special</a></li>
                        <li><a href="#">Customer Services</a></li>
                        
                    </ul>
                </p>
            </div>
            <div class="col footer-col colorlib-widget">
                <h4 style="color:#28a745;">Information</h4>
                <p>
                    <ul class="colorlib-footer-links">
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Delivery Information</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Support</a></li>
                        
                    </ul>
                </p>
            </div>

            
            <div class="col footer-col">
                <h4 style="color:#28a745;">Contact Information</h4>
                <ul class="colorlib-footer-links">
                    <li>Kondele Kisumu  <br> Along kakamenga Road</li>
                    <li><a href="tel://1234567920">+ 254 706 619 991</a></li>
                    <li><a href="tel://1234567920">+ 254 712 679 002</a></li>
                    <li><a href="mailto:info@yoursite.com">citymartelectricals@gmail.com</a></li>
                    <li><a href="#">citymart.co.ke</a></li>
            </div>
        </div>
    </div>
    <div class="copy">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p>
                    
Citymart &copy;<script>document.write(new Date().getFullYear());</script> 

                    
                </p>
            </div>
        </div>
    </div>
</footer>
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
</div>
