<!DOCTYPE html>
<html>
  <head>
    <title>Citymart | Electrical Shop in Kisumu</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="title" content="Citymart Electricals" />
<link rel="canonical" href="https://www.modern-electricals.com/">
<meta property="og:locale" content="en_US">
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.citymart.co.ke/">
<meta property="og:site_name" content="Citymart Electricals">
    <meta
      name="description"
      content="Citymart Electricals shop in Kisumu is your home for all your domestic and industrial electrical appliances, and hardware needs. We stock high quality cables, switches, fittings, pvc pipes, lamps, generators, sockets etc. all at affordable and customer friendly prices."
    />
    <meta name="google-site-verification" content="Asah0ASRnB1eULT43TF3UhjdmcHtjn5R7NUt9ct11mI" />
    <meta
      name="keywords"
      content="lighting stores near me,electronics store,tesco electrical,electrical shop,cheap electronics,christmas sale,electrical appliances,lamp stores near me,electrical store near me,domestic appliances,electronic sales,light fixture stores near me,shopping deals, hotwire electric, electrical appliances online"
    />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="English" />
<script type="application/ld+json" class="yoast-schema-graph yoast-schema-graph--main">{"@context":"https://schema.org","@graph":[{"@type":"Organization","@id":"https://www.citymart.co.ke/#organization","name":"","url":"https://www.citymart.co.ke/","sameAs":[]},{"@type":"WebSite","@id":"https://www.citymart.co.ke/#website","url":"https://www.citymart.co.ke/","name":"citymart Electricals","publisher":{"@id":"https://www.citymart.co.ke/#organization"},"potentialAction":{"@type":"SearchAction","target":"https://www.citymart.co.ke/?s={search_term_string}","query-input":"required name=search_term_string"}},{"@type":"WebPage","@id":"https://www.citymart.co.ke/#webpage","url":"https://www.citymart.co.ke/","inLanguage":"en","name":"Kisumu Modern Electricals &amp; General Hardware","isPartOf":{"@id":"https://www.citymart.co.ke/#website"},"about":{"@id":"https://www.citymart.co.ke/#organization"},"image":{"@type":"ImageObject","@id":"https://www.citymart.co.ke/#primaryimage","url":false},"primaryImageOfPage":{"@id":"https://www.citymart.co.ke/#primaryimage"},"datePublished":"2018-03-29T13:21:02+00:00","dateModified":"2018-03-29T13:21:02+00:00","description":"The Citymart Electricals shop in Kisumu is your home for all your domestic and industrial electrical appliances, and hardware needs. We stock high quality cables, switches, fittings, pvc pipes, lamps, generators, sockets etc. all at affordable and customer friendly prices."}]}</script>

    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700"
      rel="stylesheet"
    />

    <!-- Animate.css -->
    <link rel="stylesheet" href="css/animate.css" />
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="css/icomoon.css" />
    <!-- Ion Icon Fonts-->
    <link rel="stylesheet" href="css/ionicons.min.css" />
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="css/magnific-popup.css" />

    <!-- Flexslider  -->
    <link rel="stylesheet" href="css/flexslider.css" />

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/owl.theme.default.min.css" />

    <!-- Date Picker -->
    <link rel="stylesheet" href="css/bootstrap-datepicker.css" />
    <!-- Flaticons  -->
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css" />

    <!-- Theme style  -->
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div><%- body %></div>
    <div class="colorlib-loader"></div>

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <!-- popper -->
    <script src="js/popper.min.js"></script>
    <!-- bootstrap 4.1 -->
    <script src="js/bootstrap.min.js"></script>
    <!-- jQuery easing -->
    <script src="js/jquery.easing.1.3.js"></script>
    <!-- Waypoints -->
    <script src="js/jquery.waypoints.min.js"></script>
    <!-- Flexslider -->
    <script src="js/jquery.flexslider-min.js"></script>
    <!-- Owl carousel -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- Magnific Popup -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/magnific-popup-options.js"></script>
    <!-- Date Picker -->
    <script src="js/bootstrap-datepicker.js"></script>
    <!-- Stellar Parallax -->
    <script src="js/jquery.stellar.min.js"></script>
    <!-- Main -->
    <script src="js/main.js"></script>
  </body>
</html>
